* {
    box-sizing: border-box;
}
body {
    background-color: #333;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
section {
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
}
h1 {
    box-sizing: border-box;
    padding: 1rem;
    font-size: 4rem;
    width: 100%;
}
p {
    box-sizing: border-box;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 1rem;
    width: 50%;
}
img{
    display: block;
    position: absolute;
    bottom: 0;
  }
.wrap {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.parallax {
    background-color: #E0D963;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.parallax-layer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
