* {
    box-sizing: border-box;
}
body {
    background-color: #333;
    font-family: sans-serif;
}
section {
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
    transform: translateY(100vh);
}
h1 {
    padding: 1rem;
    font-size: 4rem;
    width: 100%;
}
p {
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 1rem;
    min-width: 25rem;
    max-width: 35rem;
    width: 50%;
}
.parallax {
    background-color: #E0D963;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 0;
    margin-left: -1500px;
}
.parallax-layer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.parallax-cover {
    background-color: #333;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 374px;
    z-index: 2;
}
.parallax-layer img {
    display: block;
    position: absolute;
    bottom: 0;
    transform: scale(2);
}
.one {
    transform: translateZ(-300px) scale(2.5);
}
.two {
    transform: translateZ(-200px) scale(2)
}
.three {
    transform: translateZ(-100px) scale(1.5);
}
.four {
    transform: translateZ(0px) scale(1);
}

/*Credits to https://codepen.io/samdbeckham/pen/OPXPNp?q=parallax&limit=all&type=type-pens*/
